div.quick_tab {
	background: white;
	color: black;
	padding: 0px;
	border: 1px solid gray;
}

li.quick_tab {
	display: inline;
	color: black;
	font-size: 1.4em;
	font-weight: bold;
}

li.quick_tab a {
	color: black;
	background: lightgrey;
	padding: 5px 15px 0px 15px;
	text-decoration: none;
	border-radius: 3px 3px 0px 0px;
	border-bottom: 1px solid gray;
}

li.quick_tab span {
	background: white;
	padding: 5px 15px 2px 15px;
	border-left: 1px solid gray;
	border-right: 1px solid gray;
	border-top: 1px solid gray;
	border-radius: 3px 3px 0px 0px;
}